{% extends 'emails/base.html' %}
{% load configuration_tags %}

{% block content %}
<h2 style="color: #1a1a1a;">Hi {{ user.first_name|title }}:</h2>

<p>We received a request to reset your password. Is this true? If so please click the link below to create a new one.</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 12px; margin-bottom: 12px; ">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td>
            <a href="{{ domain }}{% url 'Auth:reset_password' uidb64=uid token=token %}" target="_blank" style="display:inline-block; color: #fff; border-left: 15px solid; border-right: 15px solid; border-top: 12px solid; border-bottom: 12px solid; font-size: 16px; text-decoration: none; text-align: center; -webkit-text-size-adjust: none; font-family: Helvetica, arial, sans-serif; background-color: #a17a49; border-color: #a17a49;">
              <span style="padding-left: 5px; padding-right: 5px;">Set a New Password</span>
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p>If you don't want to reset your password, ignore this message. It will expire in 24 hours.</p>

<p>Have a Great Day.</p>
{% endblock %}

{% block footer %}{% endblock %}
