{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'vendor/dropify/dropify.min.css' %}">
<style type="text/css">
  .dropify-wrapper {
    max-width: 200px;
  }
</style>
{% endblock %}

{% block body_class %}teams{% endblock %}

{% block content %}
<div class="page padding-30">
  <div class="page-content bg-white">
    <!-- Contacts Content Header -->
    <div class="page-header">
      <h1 class="page-title">Change Password</h1>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'Auth:profile' %}">Profile</a></li>
        <li class="active">Change Password</li>
      </ol>
    </div>
    <!-- Profile Content -->
    <div class="page-content">
      <form action="" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group form-material">
          <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
          <input type="password" class="form-control" name="{{ field.name }}" id="{{ field.auto_id }}">
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Change Password</button>
        <a href="{% url 'Auth:profile' %}" class="btn btn-default" style="margin-left: 15px;">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#{{ form.visible_fields.0.auto_id }}').focus();
  });
</script>
{% endblock %}
